<a href="https://colab.research.google.com/github/unlikethewaves/aulas-programacao-sou-newbie/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
idade = int (input("Digite a idade do atleta"))
if(idade <14):
   print("infantil")
elif(idade <18):
   print("Juvenil")
else:
   print("Senior")

Digite a idade do atleta15
Juvenil

In [ ]:
#Listas são estruturadas de dados formadas por elementos
num = [1, 4, 3, 6, 9]

In [ ]:
frutas = ["maçã", "banana", "goiaba"]

In [ ]:
#Lista de marcas
camisas = ["affliction", "mma elite", "tapout"]

In [ ]:
#Tamanho de uma lista
len(camisas)

In [ ]:
num["affliction"]

In [ ]:
lista_de_compras = ["queijo", "maçã", "pêra", "abacaxi", "melância"]

In [ ]:
alunos = ['Mariana', 'Luiz', 'Higor', 'Enzo', 'Valentina']
alunos[3]

'Enzo'

In [ ]:
#alterar os valores de itens de lista
alunos[3] = 'Ivan'

In [ ]:
[] #inserir valores na lista
alunos.append("Alex")
alunos

['Mariana', 'Luiz', 'Higor', 'Enzo', 'Valentina', 'Alex']

In [ ]:
alunos.append(input( 'Digite o nome: '))

Digite o nome: João

In [ ]:
#Descobrir se há um valor determinado na lista.
if "Mariana" in alunos:
  print("Tem Mariana SIMM")
else:
  print("Tem Marcelo NÃÃO")

Tem Mariana SIMM

In [ ]:
nome = input("Digite o nome:")
if nome in alunos:
   print('Tem', nome)
else:
   print('Não Tem', nome)

Digite o nome:caráter
Não Tem caráter

In [ ]:
 del alunos[0]

In [ ]:
alunos

['Luiz', 'Higor', 'Enzo', 'Valentina', 'Alex']

In [ ]:
#Criar uma lista com números de 1 a 15
numeros = []
for num in range(15):
   numeros.append(num)
numeros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
dobro = []
for num in numeros:
  dobro.append(numeros[num]*2)
dobro

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [ ]:
#Descobrir se um número é par
a = 8
if a%2 == 0:
  print( "É PAR")
else:
  print( "É IMPAR")

É PAR

In [ ]:
#Construa uma tabela só de numeros pares = []
for num in numeros:
  if numeros[num]%2 == 0:
    print(numeros[num])

0
2
4
6
8
10
12
14